.headingv2-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.headingv2 {
    font-size: 4rem;
    letter-spacing: 0.2em;
    white-space: nowrap;
    font-weight: bold;
    text-shadow: 0 0 10px #000;
}

.headingv2-ghost {
    position: absolute;
    background: linear-gradient(to right, var(--accent1), var(--accent2));

    /* 2. Clip the background to the text characters */
    -webkit-background-clip: text;
    background-clip: text;

    /* 3. Make the default text color transparent so the background shows through */
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 5rem;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: 0.2em;
    white-space: nowrap;
    z-index: -1;
    opacity: 0.7;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
